:root {
  /* 文本颜色 */
  --text-primary: #31312F; /* 主文本色，例如标题和重要内容 */
  --text-secondary: #4D4D4D; /* 次文本色，例如正常文本内容 */
  --text-tertiary: #959595; /* 三级文本色，例如描述和辅助信息 */
  --text-on-primary-bg: #FFFFFF; /* 在主背景色上的文本颜色 */

  /* 按钮和背景颜色 */
  --bg-primary: #4150FF; /* 主要按钮和背景 */
  --bg-primary-hover: #7693f5; /* 悬浮状态 */
  --bg-primary-active: #344899; /* 点击状态 */
  --bg-primary-disabled: #beccfa; /* 禁用状态 */

  --bg-danger: #FF4A4A;
  --bg-danger-hover: #FF7A7A;
  --bg-danger-active: #FF1A1A;
  --bg-danger-disabled: #FFB3B3;
  --one-line-height-sm: 1.2;
  --one-line-height-lg: 1.75;
  --one-code-header-bg: #F6F6F8;
  --one-code-content-bg: #fefefe;
  --one-border-primary: #e5e7eb;
  --one-aide-text: #71757f;

  /* one 主题 */
  --one-global-bg: #f6f6f8;
  --one-glass-morphism-bg: rgba(245, 246, 248, 0.9);
  --one-global-bg-normal: #ffffff;
  --one-base-bg: #ffffff;
  --one-base-bg-dark: #252b3a;
  --one-brand: #5e7ce0;
  --one-brand-foil: #f2f2f3;
  --one-brand-hover: #7693f5;
  --one-brand-active: #526ecc;
  --one-brand-active-focus: #344899;
  --one-contrast: #c7000b;
  --one-text: #252b3a;
  --one-text-weak: #575d6c;
  --one-aide-text: #71757f;
  --one-aide-text-hover: #252b3a;
  --one-aide-text-stress: #575d6c;
  --one-placeholder: #babbc0;
  --one-light-text: #ffffff;
  --one-dark-text: #252b3a;
  --one-link: #526ecc;
  --one-link-active: #526ecc;
  --one-link-light: #96adfa;
  --one-link-light-active: #beccfa;
  --one-line: #d7d8da;
  --one-dividing-line: #f2f2f3;
  --one-block: #ffffff;
  --one-area: #f5f5f5;
  --one-danger: #f66f6a;
  --one-warning: #fac20a;
  --one-waiting: #beccfa;
  --one-success: #50d4ab;
  --one-info: #5e7ce0;
  --one-initial: #e9edfa;
  --one-unavailable: #f5f5f5;
  --one-shadow: rgba(37, 43, 58, 0.24);
  --one-light-shadow: rgba(37, 43, 58, 0.12);
  --one-connected-overlay-shadow: rgba(37, 43, 58, 0.16);
  --one-feedback-overlay-shadow: rgba(37, 43, 58, 0.2);
  --one-icon-text: #71757f;
  --one-icon-bg: #ffffff;
  --one-icon-fill: #71757f;
  --one-icon-fill-weak: #babbc0;
  --one-icon-fill-hover: #252b3a;
  --one-icon-fill-active: #252b3a;
  --one-icon-fill-active-hover: #252b3a;
  --one-shape-icon-fill: #d7d8da;
  --one-shape-icon-fill-active: #babbc0;
  --one-shape-icon-fill-hover: #babbc0;
  --one-shape-icon-fill-disabled: #f5f5f5;
  --one-form-control-line: #d7d8da;
  --one-form-control-bg: #ffffff;
  --one-form-control-line-hover: #9b9fa8;
  --one-form-control-line-active: #5e7ce0;
  --one-form-control-interactive-outline: rgba(94, 124, 224, 0.08);
  --one-form-control-line-active-hover: #344899;
  --one-list-item-active-bg: #f2f5fc;
  --one-list-item-active-text: #252b3a;
  --one-list-item-active-hover-bg: #f2f5fc;
  --one-list-item-hover-bg: #f2f2f3;
  --one-list-item-hover-text: #252b3a;
  --one-list-item-selected-bg: #f2f5fc;
  --one-list-item-strip-bg: #f2f5fc;
  --one-disabled-bg: #f5f5f5;
  --one-disabled-line: #dfe1e6;
  --one-disabled-text: #cfd0d3;
  --one-primary-disabled: #beccfa;
  --one-icon-fill-active-disabled: #beccfa;
  --one-label-bg: #e9edfa;
  --one-connected-overlay-bg: #ffffff;
  --one-connected-overlay-line: #526ecc;
  --one-fullscreen-overlay-bg: #ffffff;
  --one-feedback-overlay-bg: #ffffff;
  --one-feedback-overlay-text: #dfe1e6;
  --one-embed-search-bg: #f2f2f3;
  --one-embed-search-bg-hover: #eef0f5;
  --one-float-block-shadow: rgba(94, 124, 224, 0.3);
  --one-highlight-overlay: rgba(255, 255, 255, 0.8);
  --one-range-item-hover-bg: #e9edfa;
  --one-primary: #5e7ce0;
  --one-primary-hover: #7693f5;
  --one-primary-active: #344899;
  --one-contrast-hover: #d64a52;
  --one-contrast-active: #b12220;
  --one-danger-line: #f66f6a;
  --one-danger-bg: #ffd5d4;
  --one-warning-line: #fa9841;
  --one-warning-bg: #ffe1c7;
  --one-info-line: #5e7ce0;
  --one-info-bg: #e9edfa;
  --one-success-line: #50d4ab;
  --one-success-bg: #cffcee;
  --one-primary-line: #5e7ce0;
  --one-primary-bg: #f2f5fc;
  --one-default-line: #5e7ce0;
  --one-default-bg: #f7f8fa;
  --one-font-size: 14px;
  --one-font-size-card-title: 16px;
  --one-font-size-page-title: 16px;
  --one-font-size-modal-title: 18px;
  --one-font-size-price: 20px;
  --one-font-size-data-overview: 24px;
  --one-font-size-icon: 16px;
  --one-font-size-sm: 12px;
  --one-font-size-md: 14px;
  --one-font-size-lg: 16px;
  --one-font-title-weight: bold;
  --one-font-content-weight: normal;
  --one-line-height-base: 1.5;
  --one-border-radius: 4px;
  --one-border-radius-feedback: 4px;
  --one-border-radius-card: 8px;
  --one-border-radius-full: 100px;
  --one-shadow-length-base: 0 2px 6px 0;
  --one-shadow-length-slide-left: -2px 0 8px 0;
  --one-shadow-length-slide-right: 2px 0 8px 0;
  --one-shadow-length-connected-overlay: 0 2px 12px 0;
  --one-shadow-length-hover: 0 4px 16px 0;
  --one-shadow-length-feedback-overlay: 0 8px 16px 0;
  --one-shadow-length-fullscreen-overlay: 0 10px 24px 0;
  --one-animation-ease-in-smooth: cubic-bezier(0.645, 0.045, 0.355, 1);
  --one-animation-duration-slow: 300ms;
  --one-animation-duration-base: 200ms;
  --one-animation-duration-fast: 100ms;
  --one-animation-ease-in: cubic-bezier(0.5, 0, 0.84, 0.25);
  --one-animation-ease-out: cubic-bezier(0.16, 0.75, 0.5, 1);
  --one-animation-ease-in-out: cubic-bezier(0.5, 0.05, 0.5, 0.95);
  --one-animation-ease-in-out-smooth: cubic-bezier(0.645, 0.045, 0.355, 1);
  --one-animation-linear: cubic-bezier(0, 0, 1, 1);
  --one-z-index-full-page-overlay: 1080;
  --one-z-index-pop-up: 1060;
  --one-z-index-dropdown: 1052;
  --one-z-index-modal: 1050;
  --one-z-index-drawer: 1040;
  --one-z-index-framework: 1000;
  --one-menu-item: #252b3a;
  --one-menu-item-sub: #6c6c6c;
  --one-menu-item-hover: #0f0f0f;
  --one-menu-disabled: #919191;
  --one-icon-active-color: #ffffff;
  --one-gray-form-control-bg: #f5f5f5;
  --one-gray-form-control-hover-bg: #ebebeb;
  --one-nav-expand-bg: #fbfbfc;
  --one-btn-sm-padding: 0 12px;
  --one-btn-padding: 0 16px;
  --one-btn-lg-padding: 0 20px;
  --one-btn-common-bg: #ebebeb;
  --one-btn-common-border-color: transparent;
  --one-btn-common-bg-hover: #d1d1d1;
  --one-btn-common-color-hover: #252b3a;
  --one-btn-common-border-color-hover: transparent;
  --one-btn-common-bg-active: #bdbdbd;
  --one-btn-common-color-active: #252b3a;
  --one-btn-common-border-color-active: transparent;
  --one-btn-common-border-disabled: transparent;
  --one-icon-hover-bg: #ebebeb;
  --one-icon-active-bg: #d1d1d1;
  --one-icon-hover-bg-2: rgba(25, 25, 25, 0.05);
  --one-float-block-shadow-2: rgba(213, 213, 213, 0.25);
  --one-base-border-color-middle: #ededed; /* 一般/分割线 */
  --one-table-border-color: var(--one-base-border-color-middle);
}

.dark {
  /* 文本颜色 */
  --text-primary: #F9FAFB;
  --text-secondary: #4D4D4D;
  --text-tertiary: #959595;
  --text-on-primary-bg: #FFFFFF;

  /* 按钮和背景颜色 */
  --bg-primary: #1d4ed8;
  --bg-primary-hover: #435ac7;
  --bg-primary-active: #1e3a8a;
  --bg-primary-disabled: #dbeafe;

  --bg-danger: #FF4A4A;
  --bg-danger-hover: #FF7A7A;
  --bg-danger-active: #FF1A1A;
  --bg-danger-disabled: #FFB3B3;
  --one-line-height-sm: 1.2;
  --one-code-header-bg: #2a2e40;
  --one-code-content-bg: #1b1c21;
  --one-border-primary: #e5e7eb;
  --one-aide-text: #71757f;

  /* one 主题 */
  --one-global-bg: #1a1a1c;
  --one-glass-morphism-bg: rgba(26, 26, 28, 0.9);
  --one-global-bg-normal: #202124;
  --one-base-bg: #292a2e;
  --one-base-bg-dark: #2e2f31;
  --one-brand: #526ecc;
  --one-brand-foil: #f2f2f3;
  --one-brand-hover: #5e7ce0;
  --one-brand-active: #526ecc;
  --one-brand-active-focus: #344899;
  --one-contrast: #c7000b;
  --one-text: #ced1db;
  --one-text-weak: #a0a0a0;
  --one-aide-text: #868a99;
  --one-aide-text-hover: #73788a;
  --one-aide-text-stress: #a0a0a0;
  --one-placeholder: #5b5d66;
  --one-light-text: #ffffff;
  --one-dark-text: #252b3a;
  --one-link: #526ecc;
  --one-link-active: #344899;
  --one-link-light: #96adfa;
  --one-link-light-active: #beccfa;
  --one-line: #4e5057;
  --one-dividing-line: #323438;
  --one-block: #606061;
  --one-area: #34363a;
  --one-danger: #f66f6a;
  --one-warning: #fac20a;
  --one-waiting: #5e6580;
  --one-success: #50d4ab;
  --one-info: #526ecc;
  --one-initial: #64676e;
  --one-unavailable: #5b5b5c;
  --one-shadow: rgba(0, 0, 0, 0.72);
  --one-light-shadow: rgba(0, 0, 0, 0.3);
  --one-connected-overlay-shadow: rgba(0, 0, 0, 0.42);
  --one-feedback-overlay-shadow: rgba(0, 0, 0, 0.54);
  --one-icon-text: #868a99;
  --one-icon-bg: #2e2f31;
  --one-icon-fill: #868a99;
  --one-icon-fill-weak: #babbc0;
  --one-icon-fill-hover: #ced1db;
  --one-icon-fill-active: #ced1db;
  --one-icon-fill-active-hover: #ced1db;
  --one-shape-icon-fill: #5b5d66;
  --one-shape-icon-fill-active: #868a99;
  --one-shape-icon-fill-hover: #babbc0;
  --one-shape-icon-fill-disabled: #f5f5f5;
  --one-form-control-line: #4e5057;
  --one-form-control-bg: #292a2e;
  --one-form-control-line-hover: #696c75;
  --one-form-control-line-active: #526ecc;
  --one-form-control-interactive-outline: rgba(82, 110, 204, 0.08);
  --one-form-control-line-active-hover: #344899;
  --one-list-item-active-bg: #303548;
  --one-list-item-active-text: #4660b8;
  --one-list-item-active-hover-bg: #303548;
  --one-list-item-hover-bg: #3d3d42;
  --one-list-item-hover-text: #f5f5f5;
  --one-list-item-selected-bg: #303548;
  --one-list-item-strip-bg: #383838;
  --one-disabled-bg: #2d2e32;
  --one-disabled-line: #505153;
  --one-disabled-text: #5b5d66;
  --one-primary-disabled: #3f3f3f;
  --one-icon-fill-active-disabled: #2b3458;
  --one-label-bg: #353537;
  --one-connected-overlay-bg: #2e2f33;
  --one-connected-overlay-line: #526ecc;
  --one-fullscreen-overlay-bg: #2e2f33;
  --one-feedback-overlay-bg: #4c4c4c;
  --one-feedback-overlay-text: #dfe1e6;
  --one-embed-search-bg: #383838;
  --one-embed-search-bg-hover: #3d3e40;
  --one-float-block-shadow: rgba(94, 124, 224, 0.3);
  --one-highlight-overlay: rgba(255, 255, 255, 0.1);
  --one-range-item-hover-bg: #454545;
  --one-primary: #526ecc;
  --one-primary-hover: #5e7ce0;
  --one-primary-active: #344899;
  --one-contrast-hover: #d64a52;
  --one-contrast-active: #b12220;
  --one-danger-line: #d15854;
  --one-danger-bg: #4a2120;
  --one-warning-line: #eb8f3d;
  --one-warning-bg: #4b2e14;
  --one-info-line: #4482bd;
  --one-info-bg: #1c2543;
  --one-success-line: #2aa37e;
  --one-success-bg: #123d32;
  --one-primary-line: #546bb7;
  --one-primary-bg: #383d4f;
  --one-default-line: #526ecc;
  --one-default-bg: #313131;
  --one-font-size: 14px;
  --one-font-size-card-title: 16px;
  --one-font-size-page-title: 16px;
  --one-font-size-modal-title: 18px;
  --one-font-size-price: 20px;
  --one-font-size-data-overview: 24px;
  --one-font-size-icon: 16px;
  --one-font-size-sm: 12px;
  --one-font-size-md: 14px;
  --one-font-size-lg: 16px;
  --one-font-title-weight: bold;
  --one-font-content-weight: normal;
  --one-line-height-base: 1.5;
  --one-border-radius: 4px;
  --one-border-radius-feedback: 4px;
  --one-border-radius-card: 8px;
  --one-border-radius-full: 100px;
  --one-shadow-length-base: 0 2px 6px 0;
  --one-shadow-length-slide-left: -2px 0 8px 0;
  --one-shadow-length-slide-right: 2px 0 8px 0;
  --one-shadow-length-connected-overlay: 0 2px 12px 0;
  --one-shadow-length-hover: 0 4px 16px 0;
  --one-shadow-length-feedback-overlay: 0 8px 16px 0;
  --one-shadow-length-fullscreen-overlay: 0 0 6px 0;
  --one-animation-ease-in-smooth: cubic-bezier(0.645, 0.045, 0.355, 1);
  --one-animation-duration-slow: 300ms;
  --one-animation-duration-base: 200ms;
  --one-animation-duration-fast: 100ms;
  --one-animation-ease-in: cubic-bezier(0.5, 0, 0.84, 0.25);
  --one-animation-ease-out: cubic-bezier(0.16, 0.75, 0.5, 1);
  --one-animation-ease-in-out: cubic-bezier(0.5, 0.05, 0.5, 0.95);
  --one-animation-ease-in-out-smooth: cubic-bezier(0.645, 0.045, 0.355, 1);
  --one-animation-linear: cubic-bezier(0, 0, 1, 1);
  --one-z-index-full-page-overlay: 1080;
  --one-z-index-pop-up: 1060;
  --one-z-index-dropdown: 1052;
  --one-z-index-modal: 1050;
  --one-z-index-drawer: 1040;
  --one-z-index-framework: 1000;
  --one-menu-item: #dcdcdc;
  --one-menu-item-sub: #c6c6c6;
  --one-menu-item-hover: #fff;
  --one-menu-disabled: #919191;
  --one-icon-active-color: #ffffff;
  --one-gray-form-control-bg: #323338;
  --one-gray-form-control-hover-bg: #393a3e;
  --one-table-expand-area-bg: #393a3e;
  --one-btn-sm-padding: 0 12px;
  --one-btn-padding: 0 16px;
  --one-btn-lg-padding: 0 20px;
  --one-btn-common-bg: #393a3e;
  --one-btn-common-border-color: transparent;
  --one-btn-common-bg-hover: #4e5057;
  --one-btn-common-color-hover: #ced1db;
  --one-btn-common-border-color-hover: transparent;
  --one-btn-common-bg-active: #4e5057;
  --one-btn-common-color-active: #ced1db;
  --one-btn-common-border-color-active: transparent;
  --one-btn-common-border-disabled: transparent;
  --one-icon-hover-bg: #393a3e;
  --one-icon-active-bg: #4e5057;
  --one-nav-expand-bg: #1d1d21;
  --one-icon-hover-bg-2: rgba(206, 209, 219, 0.05);
  --one-float-block-shadow-2: rgba(0, 0, 0, 0.25);
  --one-base-border-color-middle: #3a3a3b; /* 一般/分割线 */
  --one-table-border-color: var(--one-base-border-color-middle);
} 